.container1 {
    margin-top: 250px;
    margin-left: 100px;
    width: 500px;
    height: 150px;
    font-size: 60px;
    align-content: center;
}

.container2 {
    margin-left: 100px;
    margin-top: -50px;
}